{% extends "header.html" %}

{% block contenido %}

    <h2>Cocteles favoritos</h2>
        <div>
            {% if favlist|length > 0 %}
                {% for coctel in cocteles %}

                    {% if coctel.key.urlsafe() in favlist %}
                      {% include "info_coctel.html" %}
                    {% endif %}

                {% endfor %}
            {% else %}
              <p><b>No has agregado ningún cóctel a favoritos</b></p>
            {% endif %}
        </div>

{% endblock %}